<div class="lbody">
<% @page_title = "アカウント情報の編集" %>
<h2><%= @page_title %></h2>
<div class="box">
<p><%= link_to "マイアカウントに戻る", :account %></p>

<%= render "admin/members/validate_member" %>

<%= form_for @member, url: :account do |form| %>
<%= render "members/form", form: form %>
<p><%= form.submit "保存" %></p>
<% end %>

<P><%= link_to "退会する", :account, method: :delete, confirm: "本当に退会しますか？" %></P>
</div>
</div>
