<div class="lbody">
<% @page_title = "マイアカウント" %>
<h2><%= @page_title %></h2>
<div class="box">

<% if @current_member.admin %>
<%= link_to "管理TOP", :admin_root %>
<% end %>

<h3><%= @current_member.name %>さんの情報</h3>


<p><%= link_to "アカウント情報の編集", :edit_account %></p>
</br>
<% if !@booking %>
<p>予約はありません</p>
<% else %>
<p>最新の予約 id:<%= link_to @booking.book_id, @booking %></p>
<%= render "bookings/body" %>
<% end %>

</br></br>
<h3>予約履歴</h3>
<table class="list">
  <tr>
    <th>日にち</th>
    <th>予約id</th>
　　　　<th>完了</th>
  </tr>
<% @histories.each do |history| %>
  <tr>
    <td><%= history.date %></td>
    <td><%= link_to history.book_id, history %></td>
<% if history.date >= Date.today%>
    <td>未</td>
<% else %>
    <td>済</td>
<% end %>
  </tr>
<% end %>
</table>

</div>
</div>
