<div class="lbody">
<% @page_title = "Login" %>
<h2><%= @page_title %></h2>
<div class="box">
<% if flash.alert %>
<p class="alert"><%= flash.alert %></p>
<% end %>
<%= form_tag :session do %>
<table id="login_form">
<tr>
<td align="right">メールアドレス：</td>
<td><%= text_field_tag "email", "", style: "width: 120px" %></td>
</tr>
<tr>
<td align="right">パスワード：</td>
<td><%= password_field_tag "password", "", style: "width: 120px" %></td>
</tr>
<tr>
<td colspan="2" align="center">
<%= submit_tag "ログイン" %></td>
</tr>
</table>
<%= hidden_field_tag "from", request.path %>
<% end %>
</br>
<%= link_to "新規会員登録", :new_member %>
</div>
</div>
