<div class="lbody">
<% @page_title = "Studio" %>
<h2><%= @page_title %></h2>
<div class="box">
<%= link_to "メンバー管理", :admin_members %>
</br></br>
<%= link_to "機材管理", :admin_materials %>
</br></br>
<%= link_to "予約一覧", :admin_bookings %>
</br></br>
<%= link_to "部屋一覧", :admin_rooms %>
</div>
</div>
