<table class="show">
<tr>
  <th>予約id</th>
  <td><%= @booking.book_id %></td>
</tr>
<tr>
  <th>予約者</th>
<% if @booking.member %>
    <td><%= @booking.member.name %></td>
<% else %>
    <td>未登録ユーザー</td>
<% end %>
</tr>
<tr>
  <th>予約日</th>
  <td><%= @booking.date %></td>
</tr>
<tr>
  <th>予約時間</th>
  <td><%= @booking.from %>時 ~ <%= @booking.to %>時</td>
</tr>
<tr>
  <th>部屋</th>
  <td><%= @booking.room.name %></td>
</tr>
<tr>
  <th>予約機材</th>
<% if @booking.bookedmaterials.present? %>
  <td>
    <table class="show">
      <% @booking.bookedmaterials.each do |bookedmaterial|%>
      <tr>
        <th><%= bookedmaterial.material.kind.name %></th>
        <td><%= bookedmaterial.material.name %></td>
      </tr>
    <% end %>
    </table>
  </td>
<% else %>
  <td>機材の予約はありません</td>
<% end %>
</tr>
</table>
