<div class="lbody">
<% @page_title = "検索" %>
<h2><%= @page_title %></h2>
<div class="box">
<%= form_tag :new_booking, method: :get do %>
<%= hidden_field_tag :value => 1 %>
<%= room_image_tag Room.find(1) %>  
<table>
<tr align="left">
<tr>
  <th>部屋</th>
  <td align="left"><%= collection_select(:room, :num, Room.all, :id, :name, {}, {onchange: "roomSelect()"}) %></td>
</tr>
<tr>
  <th>日にち</th>
  <td><%= date_select :date, nil, {start_year: Date.today.year} %></td>
</tr>
</table>
<%= submit_tag "検索" %>
<% end %>
</div>
</div>
