<div class="lbody">
<% @page_title = "会員情報の編集" %>
<h2><%= @page_title %></h2>
<div class="box">
<%= link_to "会員一覧に戻る", :admin_members %>
<%= link_to "会員の詳細に戻る", [:admin, @member] %>

<%= render "validate_member" %>

<%= form_for [:admin, @member], html: { multipart: true } do |form| %>
<%= render "form", form: form %>
<p><%= form.submit "更新" %></p>
<% end %>
</div>
</div>
