<div class="lbody">
<% @page_title = "会員情報" %>
<h2><%= @page_title %></h2>
<div class="box">

<%= link_to "編集", [:edit, :admin, @member] %>

<table class="show">
  <tr>
    <th width="150">id</th>
    <td><%= @member.id %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @member.tel %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @member.email %></td>
  </tr>
  <tr>
    <th>管理者</th>
    <td><%= @member.admin? ? "○" : "－" %></td>
  </tr>
  <tr>
    <th>停止中</th>
    <td><%= @member.suspend? ? "○" : "－" %></td>
  </tr>
</table>

</div>
</div>
