<div class="lbody">
<% @page_title = "予約" %>
<h2><%= @page_title %></h2>
<div class="box">
<% if @booking.errors.any? %>
    <div id="error_explanation">
      <h3><%= @booking.errors.count %>件のエラーが発生しました。</h3>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li>過去の予約はできません</li>
      <% end %>
      </ul>
    </div>
<%= link_to "新規予約へ戻る", :search_bookings %>
  <% else %>
<%= form_for @booking, html: { multipart: true } do |form| %>
<table class="form">
  <tr>
    <th>空き</th>
    <td>
      <table class="timer">
        <tr>
          <% 1.upto(12) do |i| %>
            <%= content_tag(:th, "#{i}時", id: "time#{i}") %>
          <% end %>
        </tr>
        <tr>
          <% 1.upto(11) do |i| %>
            <% if @time[i] == 1 %>
              <%= content_tag(:td, "1", id: "timer#{i}", class: "n") %>
            <% else %>
              <%= content_tag(:td, "0", id: "timer#{i}", class: "y") %>
            <% end %>
          <% end %>
          <%= content_tag(:td, "1", id: "timer#{12}") %>             
        </tr> 
      </table>
    </td>
  </tr>
  <tr>
    <th>開始</th>
    <td><%= form.select :from, [], {include_blank: "選択してください"}, {onchange: "addTo()", id: "booking_from"} %></td>
  </tr>
  <tr>
    <th>終了</th>
    <td><%= form.select :to, [], {include_blank: "開始時間を選択"}, {id: "booking_to"} %></td>
  </tr>
  <tr>
    <th>送信</th>
    <td><%= form.submit "次へ" %></td>
  </tr>
</table>
<%= form.hidden_field :room_id, :value => @room.to_i %>
<%= form.hidden_field :date, :value => @date %>
<% end %>
  <% end %>

</div>
</div>
