<div class="lbody">
<% @page_title = "Studio" %>
<h2><%= @page_title %></h2>
<div class="box">
<ul class="top">
  <li class="top"><%= link_to "メンバー管理", :admin_members %></li>
  <li class="top"><%= link_to "機材管理", :admin_materials %></li>
  <li class="top"><%= link_to "予約一覧", :admin_bookings %></li>
  <li class="top"><%= link_to "部屋一覧", :admin_rooms %></li>

</ul>
</div>
</div>
