<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @page_title = 'Studio-R' %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<% if @current_member%>
  <% if @current_member.admin %>
    <% line = "_admin" %>
  <% else %>
    <% line = "_member" %>
  <% end %>
<% else %>
  <% line = "" %> 
<% end %> 
<%= content_tag(:div, class:"line#{line}") do %><% end %>
<div id="contener">
  <div id="logo-mini"><%= image_tag("logo.jpg", size: "40%", alt: "Logo") %></div>
<%= render "shared/header" %>
<% if flash.notice %>
<p class="notice"><%= flash.notice %></p>
<% end %>
  <div class="content">
    <!-- contents in here -->
    <%= yield %>
  </div>
  <%= render "shared/fotter" %>
</div>

</body>
</html>
