<div class="lbody">
<% @page_title = "予約詳細" %>
<h2><%= @page_title %></h2>
<div class="box">
<%= form_tag :bookedmaterials, method: :post do %>
<table class="form">
<% @materials.each do |material| %>
<% if @mkn != material.kind.name %>
<% @mkn = material.kind.name %>
  <tr>
    <th><%= @mkn %></th>
  </tr>
<% end %>
  <tr>
    <td><%= check_box "material", "", {}, "#{material.id}", -1 %><%= material.name %></td>
  </tr>
<% end %>
</table>
<%= hidden_field :booking, :id %>
<p><%= submit_tag "予約する" %></p>
<% end %>
</div>
</div>
