<div class="lbody">
<% @page_title = "機材編集" %>
<h2><%= @page_title %></h2>
<div class="box">
<%= form_for [:admin, @material] do |f| %>
<table>
  <tr>
    <th>id</th>
    <td><%= @material.id %></td>
  </tr>
  <tr>
    <th>機材名</th>
    <td><%= f.text_field :name %></td>
  </tr>
<% end %>
  <tr>
    <th>種類</th>
    <!-- <td><%= @material.kind.name %></td> -->
    <td><%= select :kind, "", @materialKind.map{|mk|[mk.name, mk.id]} %></td>
  </tr>
</table>
<p><%= submit_tag "保存" %></p>
</div>
</div>
